<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('下发')"/>
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-paychannel-edit" th:object="${serviceaddress}">
        <input name="paychannelid" id="paychannelid" th:field="*{ServiceKey}" type="hidden">
        <label class="col-sm-4 control-label "> <em data-i18name="biz.setService">sethandwithdraw</em>：</label>
        <div class="form-group col-sm-8">
            <div class="col-sm-8">


                <div th:switch="${bool}">
                    <select th:case="1" class="form-control" name="ServiceAddress">
                        <div th:switch="*{ServiceAddress}">
                            <div th:case="1">
                                <option  value="1">开启</option>
                                <option value="0">关闭</option>
                            </div>
                            <div th:case="*">
                                <option value="0">关闭</option>
                                <option  value="1">开启</option>
                            </div>
                        </div>

                    </select>

                    <input th:case="*" name="ServiceAddress" class="form-control" th:field="*{ServiceAddress}"
                           type="text">
                </div>

            </div>
        </div>
    </form>
</div>


<th:block th:include="include :: footer"/>
<script th:inline="javascript">

</script>
<!--<th:block th:include="include :: select2-js"/>-->
<th:block th:include="include :: bootstrap-select-js"/>

<script type="text/javascript">
    var prefix = ctx + "config/serviceaddress";

    $("#form-paychannel-edit").validate({
        focusCleanup: true,
        rules: {
            "ServiceAddress": {"required": true, "number": true, "maxlength": 8},
        }
    });


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.saveTab(prefix + "/edit", $('#form-paychannel-edit').serialize());
        }
    }

</script>
</body>
</html>