<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('查看卡商提款订单')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <h4 class="form-header h4">查看卡商提款订单基本信息</h4>
    <form class="form-horizontal m">

    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var data = [[${tAgentwithdraworder}]];
    var orderstatusDatas = [[${@dict.getType('depositestatus')}]];
    $(function () {
        var options = {
            columns: [
                {
                    field: 'orderindex',
                    title: '订单索引',
                    visible: false
                },
                {
                    field: 'orderid',
                    title: '订单号'
                },
                {
                    field: 'agent_name',
                    title: '代理帐号'
                },
                {
                    field: 'bankcode',
                    title: '卡简码'
                },
                {
                    field: 'payamount',
                    title: '申请金额'
                },
                {
                    field: 'paidamount',
                    title: '实际到账金额'
                },
                {
                    field: 'orderstatus',
                    title: '订单状态',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderstatusDatas, value);
                    }
                },
                {
                    field: 'createtime',
                    title: '创建时间'
                },
                {
                    field: 'lastupdatetime',
                    title: '更新时间'
                }
            ]
        };

        var html = '';
        let myoptions = options.columns;
        for (let item of myoptions) {
            let field = item.field;
            let value = data[field];
            if (item.formatter) {
                value = item.formatter(value, data);
            }
            html += `
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">${item.title}：</label>
            <div class="col-sm-8">
                <span class="form-control">${value}</span>
            </div>
        </div>
            `;
        }
        $('.form-horizontal').html(html);

    });

</script>
</body>
</html>