<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.typay.system.mapper.TySurppilerbranchMapper">
    
    <resultMap type="TySurppilerbranch" id="TySurppilerbranchResult">
        <result property="id"    column="ID"    />
        <result property="companyid"    column="CompanyID"    />
        <result property="branchname"    column="BranchName"    />
        <result property="status"    column="Status"    />
        <result property="createby"    column="CreateBy"    />
        <result property="createtime"    column="CreateTime"    />
        <result property="updateby"    column="UpdateBy"    />
        <result property="updatetime"    column="UpdateTime"    />
        <result property="parentId"    column="parent_id"    />
    </resultMap>

    <sql id="selectTSurppilerbranchVo">
        select ID, CompanyID, BranchName, Status, CreateBy, CreateTime, UpdateBy, UpdateTime, parent_id from t_surppilerbranch
    </sql>


    <select id="selectTSurppilerbranchByParentId" parameterType="Long" resultMap="TySurppilerbranchResult">
        <include refid="selectTSurppilerbranchVo"/>
        where parent_id = #{id}
    </select>





    
</mapper>