<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看${functionName}')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <h4 class="form-header h4">查看${functionName}基本信息</h4>
        <form class="form-horizontal m">

        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">

            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭
            </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var data = [[${${className}}]];
        $(function() {
            var options = {
                columns: [
                    #foreach($column in $columns)
                        #set($dictType=$column.dictType)
                        #set($javaField=$column.javaField)
                        #set($parentheseIndex=$column.columnComment.indexOf("（"))
                        #if($parentheseIndex != -1)
                            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
                        #else
                            #set($comment=$column.columnComment)
                        #end
                        #if($column.pk)
                            {
                                field : '${javaField}',
                                title : '${comment}',
                                visible: false
                            },
                        #elseif($column.list && "" != $dictType)
                            {
                                field : '${javaField}',
                                title : '${comment}',
                                formatter: function(value, row, index) {
                                    return $.table.selectDictLabel(${javaField}Datas, value);
                                }
                            },
                        #elseif($column.list && "" != $javaField)
                            {
                                field : '${javaField}',
                                title : '${comment}'
                            },
                        #end
                    #end
                   ]
            };

            var html = '';
            let myoptions = options.columns;
            for (let item of myoptions) {
                let field = item.field;
                let value = data[field];
                if (item.formatter) {
                    value = item.formatter(value,data);
                }
                html += `
        <div class="form-group col-sm-6">
            <label class="col-sm-3 control-label">${item.title}：</label>
            <div class="col-sm-8">
                <span class="form-control">${value}</span>
            </div>
        </div>
            `;
            }
            $('.form-horizontal').html(html);

        });

    </script>
</body>
</html>